<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find franka_description)/robots/panda_arm.urdf.xacro'" />
  <node name="test" pkg="stefan_planning" type="stefan_planning" output="screen" >
    <param name="urdf_param" value="/robot_description"/> 
  </node>

</launch>
